
# build
build/
dist/
*.egg-info

# python
__pycache__/
*.pyc
.ipynb_checkpoints

# R
.Rhistory
# Rainer
tests/MMSec/
tests/test_rainer.R

# dct
*.o
*.dylib
*.a
*.so

# dependencies
jpeglib/cjpeglib/6b/*
!jpeglib/cjpeglib/6b/*.c
!jpeglib/cjpeglib/6b/*.h
jpeglib/cjpeglib/8d/*
!jpeglib/cjpeglib/8d/*.c
!jpeglib/cjpeglib/8d/*.h
jpeglib/mjpeglib
# vscode
.vscode

# apple
.DS_Store

# test
tmp/
test.log
run.py
result.jpeg
test.sh

# temporary output
output*.jpeg