name: Commit CI/CD # workflow name
on: # trigger
  push:
    branches: [dev, master]
  pull_request:
    types: [opened, reopened, edited]

# parallel jobs to perform
jobs:
  unit_tests:
    runs-on: ubuntu-latest # runner
    if: ${{ !contains(github.event.head_commit.message, '#notest') }}
    steps: # tasks
      - name: Set Github Workspace # access Github Workspace
        uses: actions/checkout@v2
      - name: Set up Python 3.x # set architecture and Python3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64" # architecture
      - name: Install test dependencies
        uses: ./.github/common/install_test_dependencies
      - name: Build from source
        uses: ./.github/common/build_from_source
      - name: Run unit tests # run unittests
        uses: ./.github/common/unit_tests

  code_analysis:
    runs-on: ubuntu-latest # runner
    steps: # tasks
      - name: Set Github Workspace # access Github Workspace
        uses: actions/checkout@v2
      - name: Set up Python 3.x # set architecture and Python3
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
          architecture: "x64" # architecture
      - name: Install dependencies
        uses: ./.github/common/install_dependencies
      - name: Run code analysis
        uses: ./.github/common/code_quality

